table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.slds-table-heading {
  font-size: 14px;
}
.slds-heading {
  font-size: 16px;
  font-weight: bold;
}
.slds_th-bg_color {
  background-color: rgb(243, 243, 243);
}
/*lightning-button.button {
    --sds-c-button-brand-color-background: #7c7474;
      --sds-c-button-text-color: #f4f7f9;
  }*/

.questionDiv {
  padding: 0% 0% 7%;
}
.footerDiv {
  height: 100px;
  background: #fff;
}
.slds-clearfix {
  margin-top: 20px;
}
.qheader {
  height: 100px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px 2px 0px 0px;
}
.contentDiv {
  padding: 6%;
  min-height: 400px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px 2px 0px 0px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18), 0px 0px 2px rgba(0, 0, 0, 0.12),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
}
.footerDiv {
  height: 80px;
  padding: 1.5% 6%;
  background: #ffffff;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 2px 2px;
}
.qbutton {
  color: white;
  display: flex;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  background: #27a6a4;
  border: none;
  border-radius: 2px;
}
.qbuttonRev {
  color: black;
  display: flex;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  flex-direction: column;
  align-items: center;
  padding: 6px 16px;
  gap: 4px;
  border: none;
  margin-right: 10px;
  background: #ffffff;
  border: 1px solid #dedcde;
  /* drop-shadow / button-secondary */

  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.016);
  border-radius: 2px;
}

.contentDiv {
  min-height: 400px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px 2px 0px 0px;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18), 0px 0px 2px rgba(0, 0, 0, 0.12),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 2px;
}

.headerDiv {
  height: 90px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 2px 2px 0px 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  padding-top: 2%;
  color: #27a6a4;
  padding-left: 2%;
}