table, th, td {
  border: 1px solid #403C43;
  border-collapse: collapse;
}

.slds-table-heading {
  font-size:  16px;
  text-align:center;
}
.slds-heading{
    font-size: 16px;
    font-weight: bold;
}
.slds_th-bg_color {
  background-color: rgb(243, 243, 243);
}
.slds-cell-wrap{
  padding-left: 1%;
  min-width: 100px;
}